.contacts {
	color: #fff;
	padding-bottom: 100px;
}

.section__title--contacts:before {
	content: "";
	display: block;
	background-image: url("../../img/contacts-spray.png");
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
	width: 200%;
	height: 100%;
	position: absolute;
	top: -36%;
	left: -92%;
	z-index: 20;
}

.contacts-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contacts-info {
	background-color: $main-color;
	border-radius: 5px;
	position: relative;
	max-width: 400px;
	padding: 38px 30px 50px 30px;
}

.contacts__list {
	margin-bottom: 30px;
}
.contacts__item {
	margin-bottom: 32px;
}
.contacts__list-title {
    font-family: 'Proxima Nova';
	font-size: 18px;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}
.contacts__list-description {
	display: block;
	line-height: 24px;
}

.contacts__list-title--travel {
	margin-bottom: 20px;
}

.contacts__list-description--bus {
	position: relative;
	margin-bottom: 8px;
	padding-left: 44px;
}

.contacts__list-description--bus:before {
	content: "";
	background-image: url("../../img/bus.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
	width: 32px;
	height: 18px;
}

.contacts__list-description--taxi {
	position: relative;
	padding-left: 44px;
}

.contacts__list-description--taxi:before {
	content: "";
	background-image: url("../../img/taxi.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
	width: 32px;
	height: 18px;
}

.decor-bottom--contacts {
	background-color: rgba(80, 195, 255, .8);
}

.decor-bottom--contacts:before {
	background-color: rgba(80, 195, 255, .5);
}

.contacts-map {
	flex-grow: 1;
}

@media (max-width: 768px) {
	.contacts-wrapper {
		flex-wrap: wrap;
	}
	.contacts-info {
		max-width: 100%;
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
}

@media (max-width: 576px) {
	.contacts-map {
		height: 298px;
	}
	.contacts-map iframe {
		height: 100%;
	}
}