.footer {
	background-image: url("../../img/footer-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
	padding-top: 168px;
	padding-bottom: 60px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}
	&__social {
		flex-basis: 40%;
	}
	&__social-list {
		display: flex;
		flex-direction: row-reverse;
		gap: 14px;
	}
	&__social-item {
		transition: opacity .3s ease;
	}
	&__social-item:hover {
		opacity: .7;
	}
	&__description {
		flex-basis: 60%;
	}
	&__text {
		color: #fff;
		line-height: 24px;
		margin-top: 0;
		margin-bottom: 28px;
	}
	&__text--big-margin {
		margin-bottom: 50px;
	}
	&__copy {
		font-size: 14px;
		line-height: 14px;
		color: #fff;
	}
}

@media (max-width: 768px) {
	.footer__description {
	    background-color: rgba(64, 158, 239, .7);
	    border-radius: 5px;
		padding: 20px;	
	}
}


@media (max-width: 576px) {
	.footer__wrapper {
		flex-wrap: wrap;
	}
	.footer__description {
		flex-basis: 100%;
		width: 100%;	
		padding: 10px;
	}

}