.footer {
	background-image: url("../../img/footer-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
	padding-top: 168px;
	padding-bottom: 60px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}
	&__social {
		flex-basis: 40%;
	}
	&__social-list {
		display: flex;
		flex-direction: row-reverse;
		gap: 14px;
	}
	&__description {
		flex-basis: 60%;
	}
	&__text {
		color: #fff;
		line-height: 24px;
		margin-top: 0;
		margin-bottom: 28px;
	}
	&__text--big-margin {
		margin-bottom: 50px;
	}
	&__copy {
		font-size: 14px;
		line-height: 14px;
		color: #fff;
	}
}