.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Proxima Nova', sans-serif;
	font-size: $header-fz;
	line-height: $header-lh;
	padding: 28px 0;
}

.logo {
	width: 115px;
	&__img {
		width: 100%;
	}
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 5px;
}

.nav__item--active {
	background-color: red;
	border-radius: 20px;
}

.nav__item--active:hover .nav__link {
	color: #fff;
}

.nav__link {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 6px 15px;
	transition: color .3s ease;

	&:hover {
		color: $active-color;
	}

	&--active:hover {
		color: #fff;
	}
} 

.phone {
	align-items: center;
	color: #fff;
	display: flex;
	text-decoration: none;

	&__text {
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px 15px;
		transition: color .3s ease;
	}
	&:hover {
		color: $active-color;
	}
}

