@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/Proxima Nova/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/Proxima Nova/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/Proxima Nova/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/Proxima Nova/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/Proxima Nova/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

$header-fz: 16px;
$header-lh: 24px;
$main-fz: 18px;
$main-lh: 36px;
$main-color: #50c3ff;
$white-color: #fff;
$active-color: #ff1a3a;
$default-bg-color: #ffe242;
$btn-fz: 16px;
$btn-lh: 18px;

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
    font-family: 'Proxima Nova Rg', sans-serif;
	font-size: $main-fz;
	line-height: $main-lh;
}

input {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.break {
	display: none;
	flex-basis: 100%;
}

.btn {
	font-size: $btn-fz;
	line-height: $btn-lh;
	font-weight: bold;
	padding: 18px;
	border-radius: 30px;
	border: none;
	background-color: #fff;
	cursor: pointer;
	text-transform: uppercase;
}

.section__title {
    font-family: 'Proxima Nova';
	font-size: 60px;
	line-height: 1;
	position: relative;
	margin-top: 0;
	margin-bottom: 36px;
	color: #fff;
}

.decor-bottom {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: rgba(255, 255, 255, .8);
	position: absolute;
	width: 90%;
	height: 7px;
	bottom: -7px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
}

.decor-bottom:before {
	content: "";
	display: block;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: rgba(255, 255, 255, .5);
	position: absolute;
	width: 86%;
	height: 14px;
	bottom: -7px;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 1200px)  {
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
}