.news {
	padding-top: 170px;
	padding-bottom: 92px;
}

.section__title--news {
	color: #50c3ff;
	line-height: 72px;
	position: relative;
	margin-top: 0;
	margin-bottom: 20px;
	width: 700px;

	&:before {
		content: "";
		background-image: url("../../img/news-spray.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 20;
	}
}

.section__title-description {
	font-size: 22px;
	line-height: 36px;
	color: #2e2e2e;
}

.news__header {
	display: flex;
	justify-content: space-between;
	gap: 70px;
	margin-bottom: 86px;
}

.subscribe-form {
	width: 400px;
}

.subscribe-form__input {
	background-color: #f8f8f8;
	border: none;
	border-radius: 20px;
	color: #000;
	display: block;
	font-size: 18px;
	width: 100%;
	margin-bottom: 20px;
	padding: 16px 18px;
}

.subscribe-form__notes {
	font-size: 16px;
	line-height: 16px;
	color: #949494;
}

.subscribe-btn {
	background-color: #e450ff;
	border: 2px solid #e450ff;
	border-radius: 20px;
    font-family: 'Proxima Nova';
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	transition: color .3s ease, background-color .3s ease;
	color: #fff;
	cursor: pointer;
	padding: 10px 24px;
}

.subscribe-btn:hover {
	background-color: $white-color;
	color: #e450ff;
}

.news__list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 58px;
}

.news__list-item {
	width: 370px;
}

.news__img {
	width: 100%;
	min-height: 270px;
}

.news__list-title {
    font-family: 'Proxima Nova';
	font-size: 30px;
	line-height: 36px;
	color: #2e2e2e;
}

.news__list-title--new {
	color: #e450ff;
}

.news__list-description {
	border-radius: 5px;
	font-size: 18px;
	line-height: 24px;
	color: #2e2e2e;
}

.news__btns-wrapper {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.btn--more {
	border: 2px solid #e450ff;
	color: #e450ff;
	padding: 10px 30px;
	transition: color .3s ease, background-color .3s ease;
}

.btn--more:hover {
	background-color: #e450ff;
	color: $white-color;
}

.btn--vk {
	border: 2px solid #e450ff;
	background-color: #e450ff;
	color: #fff;
	position: relative;
	padding: 8px 18px 8px 60px;
	transition: color .3s ease, background-color .3s ease;
}

.btn--vk:hover {
	background-color: $white-color;
	color: #e450ff;
}

.btn__vk-img-wrapper {
	display: flex;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 10px #ccc;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: -3px;
	transform: translateY(-50%);
}
