.prices {
	background-color: #50c3ff;
	position: relative;
	padding-top: 20px;
	padding-bottom: 100px;

	&:after {
		content: "";
		display: block;
		background-image: url("../../img/prices-bg.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		width: 100%;
		height: 228px;
		right: 0;
		left: 0;
		bottom: -64px;
		z-index: -1;
	}

	&-item {
		position: relative;
		border-radius: 3px;
		background-color: #fff;
		margin-bottom: 20px;
		width: 370px;
	}
}

.prices-item-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.prices-item__notes {
	display: flex;
	justify-content: center;
	align-items: center;
}

.prices-item__notes-img {
	background-image: url("../../img/cool-icon.png");
	background-repeat: no-repeat;
	background-position: center 8px;
	background-size: contain;
	width: 54px;
	height: 54px;
}

.section__title--prices:before {
	content: "";
	background-image: url("../../img/spray-for-prices.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: -50px;
	left: -50px;
	display: block;
	width: 266px;
	height: 154px;
	z-index: 10;
}

.prices-item__header {
	display: flex;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding: 0;
	overflow: hidden;
}

.prices-item--opt {
	.prices-item__title {
		background-color: #ffc528;
			.prices-item__time {
			color: #ffc528;
		}
	}
	.btn--order {
		border-color: #ffc528;
		color: #ffc528;
		transition: color .3s ease, background-color .3s ease;
	}

	.btn--order:hover {
		background-color: #ffc528;
		color: $white-color;
	}
}

.prices-item--max {
	.prices-item__title {
		background-color: #ff1a3a;
			.prices-item__time {
			color: #ff1a3a;
		}
	}
	.btn--order {
		border-color: #ff1a3a;
		color: #ff1a3a;
		transition: color .3s ease, background-color .3s ease;
	}

	.btn--order:hover {
		background-color: $active-color;
		color: $white-color;
	}
}

.prices-item__title {
	background-color: #64cf47;
    font-family: 'Proxima Nova';
	font-size: 22px;
	line-height: 36px;
	width: 254px;
	margin: 0;
	padding: 30px 20px;
	position: relative;
	color: #fff;
	text-transform: uppercase;

	.prices-item__time {
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0 1px 10px #ccc;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-transform: lowercase;
		font-size: 16px;
		line-height: 13px;
		color: #64cf47;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(50%, -50%);
		width: 46px;
		height: 46px;
	}
}

.prices-item__notes {
	background-color: #f8f8f8;
	width: 116px;
}

.prices-item__schedule {
	text-align: center;
	width: 100%;
	th {
	    font-family: 'Proxima Nova';
		font-size: 18px;
		line-height: 36px;
		color: #2e2e2e;
	}

	td {
		font-size: 16px;
		line-height: 36px;
		color: #949494;
	}
}

.prices-item__price {
	text-align: center;
	margin-left: auto;
	width: 290px;

	th {
		font-size: 14px;
		line-height: 36px;
		color: #2e2e2e;
	}

	td {
	    font-family: 'Proxima Nova';
		font-size: 30px;
		line-height: 36px;
		color: #50c3ff;
	}

	td.min-font {
		font-size: 16px;
	}
}

.btn--order {
	align-items: center;
	border: 2px solid #64cf47;	
	color: #64cf47;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 54px;
	transition: color .3s ease, background-color .3s ease;
	z-index: 10;
}

.btn--order:hover {
	background-color: #64cf47;
	color: $white-color;
}

.tickets-btn__img-wrapper {
	border-radius: 50%;
	box-shadow: 0 1px 10px #ccc;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 71px;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	z-index: 50;
}


.prices-item__footer {
	position: relative;
	border-top: 4px solid #f8f8f8;
	min-height: 100px;
}

@media (max-width: 1176px) {
	.prices-item__title {
		font-size: 20px;
	}
	.prices-item {
		width: 32%;
	}
}

@media (max-width: 1169px) {
	.tickets-btn__img-wrapper {
		left: 60px;
	}
}

@media (max-width: 1100px) {
	.tickets-btn__img-wrapper {
		left: 40px;
	}
}

@media (max-width: 1058px) {
	.prices-item__title {
		font-size: 18px;
	}
}

@media (max-width: 996px) {
	.prices-item__title {
		text-align: center;
		width: 225px;
	}

	.prices-item__notes {
		width: 80px;
	}

	.prices-item__notes-img {
		width: 40px;
		height: 40px;
	}
	.prices-item__title .prices-item__time {
		font-size: 14px;
		width: 40px;
		height: 40px;
	}
	.prices-item__price td {
		font-size: 26px;
	}

	.tickets-btn__img-wrapper {
		left: 20px;
	}
}

@media (max-width: 944px) {
	.prices-item__schedule td {
		font-size: 14px;
	}
}

@media (max-width: 900px) {
	.prices-item {
		width: 48%;
		margin-bottom: 50px;
	}
	.prices-item__title {
		width: 80%;
	}
	.prices-item__notes {
		width: 20%;
	}
}

@media (max-width: 678px) {
	.prices-item {
		width: 49%;
		margin-bottom: 50px;
	}
}

@media (max-width: 600px) {
	.prices-item-wrapper {
		justify-content: center;
	}
	.prices-item {
		width: 60%;
	}
}

@media (max-width: 520px) {
	.prices-item {
		width: 80%;
	}
}

@media (max-width: 460px) {
	.container {
		padding-right: 10px;
		padding-left: 10px;
	}
	.prices-item {
		width: 100%;
	}
}

@media (max-width: 318px) {
	.prices-item__schedule th {
		font-size: 12px;
		line-height: 1.2;
	}

	.prices-item__price th {
		font-size: 12px;
		line-height: 1.2;
	}

	.prices-item__header {
		margin-bottom: 16px;
	}

	.prices-item__price td {
		font-size: 20px;
	}

	.prices-item__price td.min-font {
		font-size: 14px;
	}

	.prices-item__price {
		width: 100%;
	}
}

		
